
* {
	margin: 0;
	box-sizing: border-box;	
  }
  
  body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}
  

  .App {
	display: flex;
	justify-content: space-around;
	height: 100vh;
  }
  
  
  .form-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	justify-content: center;
  }
  
  .list-container {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 0;
  }
  
  
::placeholder{
    color: #e5e5e5;
}


button:hover{
	background: #52b844;
}


  
  
  

  
  .fa-solid {
	margin-bottom: 15px;
  }
  

  
  .fa-trash::before {
	color: red;
  }
  
  .fa-trash i {
	color: red;
  }
  
  .user-card {
	display: flex;
	background-color: #fff;
	border-bottom: 1px solid #5D54A4;
	margin: 9px auto;
	padding: 20px 30px;
	width: 75%;
	border-radius: 3px;
	justify-content: space-between;
	
  }
  
  .buttons-container {
	display: flex;
	flex-direction: column;
  }

  .container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 6px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 70%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 80%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}


.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

button.submit {
	padding: 10px;
	margin-right: 10px;
	background: greenyellow;
  }
  
  .products-list {
	list-style: none;
  }
  
  .products-list li h3 {
	margin-bottom: 5px;
  }

  .users-list-container{
    padding: 10px;
    margin: 0 auto;
}

.users-list .user{
    width: 100%;
    background: rgb(121, 21, 21);
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0;
    display: flex;
}

.users-list .user .user-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.users-list .user .user-info .name{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.users-list .user .user-info .email{
    color: rgba(0, 0, 0, .6);
    margin-bottom: 10px;
}

.users-list .user .options{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.users-list .user .options button{
    margin: 0 10px;
    background: #fff;
}

.users-list .user .options button i{
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
}

@media (min-width: 576px) {
    .users-list .name-inputs{
        display: flex;
    }
    .users-list-container{
        max-width: 579px;
    }
}

@media (min-width: 768px) {
    .users-list-container{ max-width: 721px; }
    .users-list .user{
        padding: 30px 50px;
    }
}

@media (min-width: 992px) {
    .users-list{
        width: 60%;
        padding: 30px;
        overflow-x: auto;
        height: 100vh;
    }
}

.back-list {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);
	width: 73%;
	height: 100%;
	overflow: hidden;
  }
  
 
  .list-container {
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 0;
  }
  .user-card {
	display: flex;
	background-color: rgb(248, 242, 242);
	border-bottom: 1px solid rgb(78, 83, 69);
	margin: 9px auto;
	padding: 20px 30px;
	width: 75%;
	border-radius: 3px;
	justify-content: space-between;
	
  }
  
  .buttons-container {
	display: flex;
	flex-direction: column;
  }
  .users-list-container{
    padding: 10px;
    margin: 0 auto;
}

.users-list .user{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 30px 0;
    display: flex;
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	box-shadow: 0px 0px 24px #5C5696;
}

.users-list .user .user-info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.users-list .user .user-info .name{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}

.users-list .user .user-info .email{
    color: rgba(0, 0, 0, .6);
    margin-bottom: 10px;
}

.users-list .user .options{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.users-list .user .options button{
    margin: 0 10px;
    background: rgb(158, 40, 40);
}

.users-list .user .options button i{
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
}

@media (min-width: 576px) {
    .users-list .name-inputs{
        display: flex;
    }
    .users-list-container{
        max-width: 579px;
    }
}

@media (min-width: 768px) {
    .users-list-container{ max-width: 721px; }
    .users-list .user{
        padding: 30px 50px;
    }
}

@media (min-width: 992px) {
    .users-list{
        width: 110%;
        padding: 70px;
        overflow-x: auto;
        height: 100vh;
    }
}

  
